body, html {
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: black  ;
}
::-webkit-scrollbar-track{
    opacity: .5;
}
.MenuHeader{
    display: flex;
    justify-content: space-around;
}
.OnionRingsWrapper{
    display: flex;
    padding-top: 5rem;
}
.HamburgersFriesWrapper{
    display: flex;
    justify-content: space-between;
}
.DrinksWrapper{
    display: flex;
}
.BarBeveragesWrapper{
    display: flex;
    justify-content: space-between;
}
.OnionRingsText{
    text-align: center;
    padding-top: 3rem;
    padding-left: 2rem;
}
.HamburgersText{
    text-align: center;
    padding-top: 3rem;
    padding-left: 1rem;
}
.DrinksText{
    text-align: center;
    padding-top: 3rem;
    padding-left: 2rem;
}
.BeveragesText{
    padding-top: 3rem;
    padding-left: 2rem;
    text-align: center;
}