body, html {
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: black  ;
}
::-webkit-scrollbar-track{
    opacity: .5;
}
.MenuHeader{
    display: flex;
    justify-content: space-around;
}
.OnionRingsWrapper{
    display: flex;
}
.HamburgersFriesWrapper{
    display: flex;
    justify-content: space-between;
}
.DrinksWrapper{
    display: flex;
}
.BarBeveragesWrapper{
    display: flex;
    justify-content: space-between;
}